<?xml version="1.0"?>
<!--
/**
* Morningtime Extensions
* http://shop.morningtime.com
*
* @extension   FancyZoom
* @type        Simple product media lightbox
*
* NOTICE OF LICENSE
*
* This source file is subject to the Open Software License (OSL 3.0)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/osl-3.0.php
* If you did not receive a copy of the license and are unable to
* obtain it through the world-wide-web, please send an email
* to license@magentocommerce.com so we can send you a copy immediately.
*
* @category    Morningtime
* @package     Morningtime_FancyZoom
* @copyright   Copyright (c) 2011-2012 Morningtime Internetbureau B.V. (http://www.morningtime.com)
* @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config>
    <tabs>
        <morningtime translate="label" module="core">
            <label>Morningtime</label>
            <sort_order>100</sort_order>
        </morningtime>
    </tabs>
    <sections>
        <fancyzoom translate="label" module="fancyzoom">
            <label>FancyZoom</label>
            <tab>morningtime</tab>
            <frontend_type>text</frontend_type>
            <sort_order>90</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>Settings</label>
                    <comment>
                        <![CDATA[<p><a href="http://www.morningtime.com" title="Morningtime Digital Agency"><img src="//www.morningtime.com/sites/default/files/permanent/morningtime-magento-admin-logo.png?s=magento&x=fancyzoom&v=1.7.0.0" /></a></p>]]>
                    </comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <main_zoom translate="label comment">
                            <label>Zoom main image</label>
                            <comment>
                                <![CDATA[Enable or disable main image zoom.]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </main_zoom>
                        <image_width translate="label">
                            <label>Image width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image_width>
                        <image_height translate="label">
                            <label>Image height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image_height>
                        <thumb_width translate="label">
                            <label>More image width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </thumb_width>
                        <thumb_height translate="label">
                            <label>More image height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </thumb_height>
                        <fancy_width translate="label">
                            <label>FancyBox width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fancy_width>
                        <fancy_height translate="label">
                            <label>FancyBox height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fancy_height>
                        <show_gallery translate="label comment">
                            <label>Show gallery</label>
                            <comment>
                                <![CDATA[Show a gallery of images below the popup image?]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_gallery>
                        <gallery_items translate="label comment">
                            <label>Number of gallery items</label>
                            <comment>
                                <![CDATA[Minimum is 3. Images are resized automatically.]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </gallery_items>
                    </fields>
                </settings>
            </groups>
        </fancyzoom>
    </sections>
</config>
