.csslider .viewport{overflow:hidden; position:relative;}
.csslider li.itemslider {float:left;}
.csslider a.next,.csslider a.prev{
	position: absolute;
    top: 0;
}
.csslider a.prev{left:0}
.csslider a.next{right:0}