<?xml version="1.0"?>
<config>
    <modules>
        <Gala_Yomarketsettings>
            <version>0.1.0</version>
        </Gala_Yomarketsettings>
    </modules>
	 <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <yomarket>
                                            <title>Image Configure</title>
                                        </yomarket>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
				<yomarketsettings>
					<file>yomarketsettings.xml</file>
				</yomarketsettings>
            </updates>
        </layout>
		<menu>
			<emthemes translate="title">
				<title>GalaThemes</title>
				<sort_order>72</sort_order>
				<children>
					<yomarket_setting module="yomarketsettings" translate="title">
						<title>Gala Yomarket Settings</title>
						<sort_order>10</sort_order>
						<action>adminhtml/system_config/edit/section/yomarket/</action>
					</yomarket_setting>
					<help module="yomarketsettings" translate="title">
						<title>Help &amp; Support</title>
						<sort_order>200</sort_order>
						<children>
							<yomarket_userguide module="yomarketsettings" translate="title">
								<title>Gala Yomarket User Guide</title>
								<sort_order>10</sort_order>
								<action>adminhtml/yomarketsettings_link/faqs/</action>
							</yomarket_userguide>
							<forum module="yomarketsettings" translate="title">
                                <title>Request installation</title>
                                <sort_order>20</sort_order>
                                <action>adminhtml/yomarketsettings_link/requestinstallation/</action>
                            </forum>
                            <ticket module="yomarketsettings" translate="title">
                                <title>Technical support</title>
                                <sort_order>30</sort_order>
                                <action>adminhtml/yomarketsettings_link/technicalsupport/</action>
                            </ticket>                            
							<!--galayomarket_sample_data module="yomarketsettings" translate="title">
                                <title>Gala Yomarket Sample Data</title>
                                <sort_order>50</sort_order>
                                <action>adminhtml/yomarketsettings_theme/export/</action>
                            </galayomarket_sample_data-->
                            <contact_us module="yomarketsettings" translate="title">
                                <title>Contact Us</title>
                                <sort_order>30</sort_order>
                                <action>adminhtml/yomarketsettings_link/contactus/</action>
                            </contact_us>
						</children>
					</help>
				</children>
			</emthemes>
		</menu>
    </adminhtml>

    <frontend>
        <routers>
            <yomarketsettings>
                <use>standard</use>
                <args>
                    <module>Gala_Yomarketsettings</module>
                    <frontName>yomarketsettings</frontName>
                </args>
            </yomarketsettings>
        </routers>
        <layout>
            <updates>
                <yomarketsettings>
                    <file>yomarketsettings.xml</file>
                </yomarketsettings>
            </updates>
        </layout>
		<events>
    		<controller_action_layout_generate_blocks_before>
    			<observers>
    				<galayomarket_config_after_save>
    					<class>Gala_Yomarketsettings_Model_Observer</class>
    					<method>beforeGenerateBlocks</method> 
    				</galayomarket_config_after_save>
    			</observers>
    		</controller_action_layout_generate_blocks_before>		
			<catalog_product_collection_load_before>
    			<observers>
    				<yomarketsettings>
    					<class>Gala_Yomarketsettings_Model_Observer</class>
    					<method>beforeCatalogProductCollectionLoad</method> 
    				</yomarketsettings>
    			</observers>
    		</catalog_product_collection_load_before>
    	</events>
    </frontend>
    <admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<yomarketsettings before="Mage_Adminhtml">Gala_Yomarketsettings_Adminhtml</yomarketsettings>
					</modules>
				</args>
			</adminhtml>
		</routers>
    </admin>
    <adminhtml>
		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <yomarket translate="title" module="yomarketsettings">
                                            <title>Gala Yomarket Settings Module</title>
                                        </yomarket>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<yomarketsettings>
					<file>yomarketsettings.xml</file>
				</yomarketsettings>
			</updates>
		</layout>
        <events>
    		<controller_action_postdispatch_adminhtml_system_config_save>
    			<observers>
    				<config_after_save>
    					<class>Gala_Yomarketsettings_Model_Observer</class>
    					<method>afterConfigSave</method> 
    				</config_after_save>
    			</observers>
    		</controller_action_postdispatch_adminhtml_system_config_save>		
    	</events> 
    </adminhtml>
    
    <global>
        <models>
            <yomarketsettings>
                <class>Gala_Yomarketsettings_Model</class>
                <resourceModel>yomarketsettings_mysql4</resourceModel>
            </yomarketsettings>
            <yomarketsettings_mysql4>
                <class>Gala_Yomarketsettings_Model_Mysql4</class>
                <entities>
                    <yomarketsettings>
                        <table>yomarketsettings</table>
                    </yomarketsettings>
                    <megamenupro>
                        <table>megamenupro</table>
                    </megamenupro>
                </entities>
            </yomarketsettings_mysql4>
        </models>
        <resources>
            <yomarketsettings_setup>
                <setup>
                    <module>Gala_Yomarketsettings</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </yomarketsettings_setup>
            <yomarketsettings_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </yomarketsettings_write>
            <yomarketsettings_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </yomarketsettings_read>
        </resources>
        <blocks>
            <yomarketsettings>
                <class>Gala_Yomarketsettings_Block</class>
            </yomarketsettings>
        </blocks>
        <helpers>
            <yomarketsettings>
                <class>Gala_Yomarketsettings_Helper</class>
            </yomarketsettings>
			<catalog>
				<rewrite>
					<image>Gala_Yomarketsettings_Helper_CatalogImage</image>
				</rewrite>
			</catalog>
        </helpers>
    </global>
	<default>
		<yomarket>
			<general>
				<disable_default_nav>0</disable_default_nav>
				<freezed_top_menu>0</freezed_top_menu>
				<!--disable_frontend_variation>1</disable_frontend_variation-->
				<disable_footer_links>0</disable_footer_links>
				<image_bgcolor></image_bgcolor>
			</general>
			<typography>
				<general_color></general_color>
				<primary_color></primary_color>
				<secondary_color></secondary_color>
				<secondary2_color></secondary2_color>
				<negative_color></negative_color>
                <negative2_color></negative2_color>
				<line_color></line_color>
				<primary_bgcolor></primary_bgcolor>
				<secondary_bgcolor></secondary_bgcolor>
                <secondary2_bgcolor></secondary2_bgcolor>
                <negative_bgcolor></negative_bgcolor>
				<button1></button1>
				<button2></button2>
				<button3></button3>
				<page_bg_image></page_bg_image>				
				<google_fonts></google_fonts>
                <box_shadow></box_shadow>
				<general_font></general_font>
				<h1_font></h1_font>
				<h2_font></h2_font>
				<h3_font></h3_font>
				<h4_font></h4_font>
				<h5_font></h5_font>
				<additional_css_file></additional_css_file>
				<rounded_corner></rounded_corner>
                <custom_css></custom_css>
			</typography>
			<products_grid>
				<width></width>
				<height></height>
				<gutter></gutter>
				<show_product_name>1</show_product_name>
				<show_sku>0</show_sku>
			    <show_thumbnail>1</show_thumbnail>
			    <alt_img>1</alt_img>
			    <show_desc>0</show_desc>
			    <show_price>1</show_price>
			    <show_reviews>1</show_reviews>
			    <show_saleables>0</show_saleables>
			    <show_addtocart>1</show_addtocart>
			    <show_addto>1</show_addto>
			    <show_label>1</show_label>
			</products_grid>
            <products_list>
				<width></width>
				<height></height>
				<show_product_name>1</show_product_name>
				<show_sku>0</show_sku>
				<show_thumbnail>1</show_thumbnail>
				<alt_img>1</alt_img>
				<show_desc>0</show_desc>
				<show_price>1</show_price>
				<show_reviews>1</show_reviews>
				<show_saleables>0</show_saleables>
				<show_addtocart>1</show_addtocart>
				<show_addto>1</show_addto>
				<show_label>1</show_label>
			</products_list>
			<image_product>
				<base_image_width>380</base_image_width>
                <base_image_height>380</base_image_height>
                <thumb_base_width></thumb_base_width>
				<thumb_base_height></thumb_base_height>
				<viewmode></viewmode>
				<cloud_zoom_width></cloud_zoom_width>
				<cloud_zoom_height></cloud_zoom_height>
				<use_tabs>1</use_tabs>
			</image_product>
			<related>
				<width></width>
				<height></height>
			</related>
			<crosssell>
				<width></width>
				<height></height>
				<gutter></gutter>
			</crosssell>
			<upsell>
				<width></width>
				<height></height>
				<gutter></gutter>
			</upsell>
            <image_sidebar>
                <sidebar_width></sidebar_width>
                <sidebar_height></sidebar_height>
            </image_sidebar>
            <image_shopping_cart>
                <width></width>
				<height></height>
			</image_shopping_cart>
			<ajaxcart>
				<auto_close>2</auto_close>
			</ajaxcart>
			<style_rtl>
				<enable_rtl>0</enable_rtl>
			</style_rtl>
		</yomarket>
	</default>
</config>