<?xml version="1.0"?>
<config>
	<modules>
		<Topefekt_Magesms>
			<version>1.4.0</version>
		</Topefekt_Magesms>
	</modules>

	<global>
		<blocks>
			<magesms>
				<class>Topefekt_Magesms_Block</class>
			</magesms>
		</blocks>
		<helpers>
			<magesms>
				<class>Topefekt_Magesms_Helper</class>
				<rewrite>
					<data>Topefekt_Magesms_Helper_Data</data>
				</rewrite>
			</magesms>
			<adminhtml>
				<rewrite>
					<data>Topefekt_Magesms_Helper_Adminhtml_Data</data>
				</rewrite>
			</adminhtml>
		</helpers>
		<models>
			<magesms>
				<class>Topefekt_Magesms_Model</class>
				<resourceModel>magesms_mysql4</resourceModel>
			</magesms>
			<magesms_mysql4>
				<class>Topefekt_Magesms_Model_Mysql4</class>
				<entities>
					<admins>
						<table>magesms_admins</table>
					</admins>
					<country>
						<table>magesms_country</table>
					</country>
					<country_lang>
						<table>magesms_country_lang</table>
					</country_lang>
					<country_area>
						<table>magesms_country_area</table>
					</country_area>
					<maps>
						<table>magesms_maps</table>
					</maps>
					<smsuser>
						<table>magesms_smsuser</table>
					</smsuser>
					<routes>
						<table>magesms_routes</table>
					</routes>
					<maps>
						<table>magesms_maps</table>
					</maps>
					<textsender>
						<table>magesms_textsender</table>
					</textsender>
					<ownnumbersender>
						<table>magesms_ownnumbersender</table>
					</ownnumbersender>
					<smshistory>
						<table>magesms_smshistory</table>
					</smshistory>
					<hooks>
						<table>magesms_hooks</table>
					</hooks>
					<hooks_admins>
						<table>magesms_hooks_admins</table>
					</hooks_admins>
					<hooks_customers>
						<table>magesms_hooks_customers</table>
					</hooks_customers>
					<hooks_templates>
						<table>magesms_hooks_templates</table>
					</hooks_templates>
					<hooks_unicode>
						<table>magesms_hooks_unicode</table>
					</hooks_unicode>
					<variables>
						<table>magesms_variables</table>
					</variables>
					<answers>
						<table>magesms_answers</table>
					</answers>
					<exceptions>
						<table>magesms_exceptions</table>
					</exceptions>
					<routes_alternative>
						<table>magesms_routes_alternative</table>
					</routes_alternative>
					<template>
						<table>magesms_template</table>
					</template>
					<marketing_filter>
						<table>magesms_marketing_filter</table>
					</marketing_filter>
					<optout_order>
						<table>magesms_optout_order</table>
					</optout_order>
				</entities>
			</magesms_mysql4>
			<cataloginventory_resource>
				<rewrite>
					<stock>Topefekt_Magesms_Model_Overide_Cataloginventory_Stock</stock>
				</rewrite>
			</cataloginventory_resource>
		</models>
		<resources>
			<magesms_setup>
				<setup>
					<module>Topefekt_Magesms</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</magesms_setup>
		</resources>
		<events>
			<customer_register_success>
				<observers>
					<Topefekt_Magesms_Register>
						<class>magesms/observer</class>
						<method>customerRegisterSuccess</method>
					</Topefekt_Magesms_Register>
				</observers>
			</customer_register_success>
			<cataloginventory_stock_item_save_after>
				<observers>
					<Topefekt_Magesms_ProductStock>
						<class>magesms/observer</class>
						<method>productStock</method>
					</Topefekt_Magesms_ProductStock>
				</observers>
			</cataloginventory_stock_item_save_after>
			<sales_order_place_after>
				<observers>
					<Topefekt_Magesms_NewOrder>
						<class>magesms/observer</class>
						<method>newOrder</method>
					</Topefekt_Magesms_NewOrder>
				</observers>
			</sales_order_place_after>
			<sales_order_save_after>
				<observers>
					<Topefekt_Magesms_UpdateOrderStatus>
						<class>magesms/observer</class>
						<method>updateOrderStatus</method>
					</Topefekt_Magesms_UpdateOrderStatus>
				</observers>
			</sales_order_save_after>
			<sales_order_shipment_track_save_after>
				<observers>
					<Topefekt_Magesms_UpdateOrderTrackingNumber>
						<class>magesms/observer</class>
						<method>updateOrderTrackingNumber</method>
					</Topefekt_Magesms_UpdateOrderTrackingNumber>
				</observers>
			</sales_order_shipment_track_save_after>
			<catalog_product_edit_action>
				<observers>
					<Topefekt_Magesms_LockSku>
						<class>magesms/observer</class>
						<method>lockSkuAttribute</method>
					</Topefekt_Magesms_LockSku>
				</observers>
			</catalog_product_edit_action>
		</events>
	</global>

	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Topefekt_Magesms before="Mage_Adminhtml">Topefekt_Magesms_Adminhtml</Topefekt_Magesms>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<Topefekt_Magesms>
					<files>
						<default>Topefekt_Magesms.csv</default>
					</files>
				</Topefekt_Magesms>
			</modules>
		</translate>
		<layout>
			<updates>
				<magesms>
					<file>magesms.xml</file>
				</magesms>
			</updates>
		</layout>
	</adminhtml>
	<frontend>
		<events>
			<controller_action_postdispatch_contacts_index_post>
				<observers>
					<Topefekt_Magesms_Contactform>
						<class>magesms/observer</class>
						<method>contactForm</method>
					</Topefekt_Magesms_Contactform>
				</observers>
			</controller_action_postdispatch_contacts_index_post>
			<checkout_cart_add_product_complete>
				<observers>
					<Topefekt_Magesms_AddOptout>
						<class>magesms/observer</class>
						<method>cartAddProductAddOptout</method>
					</Topefekt_Magesms_AddOptout>
				</observers>
			</checkout_cart_add_product_complete>
			<sales_quote_remove_item>
				<observers>
					<Topefekt_Magesms_ClearOptout>
						<class>magesms/observer</class>
						<method>cartRemoveProductClearOptout</method>
					</Topefekt_Magesms_ClearOptout>
				</observers>
			</sales_quote_remove_item>
		</events>
		<routers>
			<magesms>
				<use>standard</use>
				<args>
					<module>Topefekt_Magesms</module>
					<frontName>magesms</frontName>
				</args>
			</magesms>
		</routers>
		<layout>
			<updates>
				<magesms>
					<file>magesms.xml</file>
				</magesms>
			</updates>
		</layout>
		<translate>
			<modules>
				<Topefekt_Magesms>
					<files>
						<default>Topefekt_Magesms.csv</default>
					</files>
				</Topefekt_Magesms>
			</modules>
		</translate>
	</frontend>
	<default>
		<config>
			<optout>
				<sku>magesms23239512311</sku>
			</optout>
			<supported>
				<versions>1.5 - 1.9</versions>
			</supported>
		</config>
		<magesms>
			<template>
				<language>en</language>
			</template>
			<magesms>
				<enable>1</enable>
			</magesms>
		</magesms>
	</default>
	<crontab>
		<jobs>
			<topefekt_magesms>
				<schedule>
					<cron_expr>0 * * * *</cron_expr>
				</schedule>
				<run>
					<model>magesms/observer::cronUpdate</model>
				</run>
			</topefekt_magesms>
		</jobs>
	</crontab>
</config>