/*menu*/

.em-catalog-navigation.horizontal > li, .hnav .menu-item-depth-0{background:url(../images/pharmacy_orange/line.png) right center no-repeat}
.em_nav .vnav > li.menu-item-parent:hover > a.arrow span, .em_nav .vnav > li.parent:hover > a.arrow span{background:url(../images/pharmacy_orange/btn-icon.png) 12px 3px no-repeat}
.em_nav .em-catalog-navigation li.parent:hover > a.arrow span{background:url(../images/pharmacy_orange/btn-icon.png) 12px 4px no-repeat}


/*cart*/
.header-container .top-cart{background:#242424;border-radius:/*BEGIN:rounded_corner*/3px/*END:rounded_corner*/; -webkit-border-radius:/*BEGIN:rounded_corner*/3px/*END:rounded_corner*/; -moz-border-radius:/*BEGIN:rounded_corner*/3px/*END:rounded_corner*/ ;}
.header-container .top-cart-inner{border:none; height:36px;background:none;}
.header-container .top-cart .top-cart-inner a.top-link-cart{color:#fff; background:url(../images/bkg-icon-cart.png) 24px 0 no-repeat;}
.header-container .top-cart span.option-cart{background:url(../images/gift_black/bkg-cart.png) center center no-repeat; right:0}
.header-container .form-search{}


/*hot product*/
.em-area03 .hot-product{border-color:#17a095; }




.cms-area-07 .grid_5.alpha  .product-name a{font:300 25px/1.35 Kokila,helvetica,arial,sans-serif ; color:/*BEGIN:secondary_color*/#ed2f15/*END:secondary_color*/; }
.cms-area-07 .grid_5.alpha .viewmore{background:url(../images/pharmacy_orange/viewmore.png) right center no-repeat}
.em-area07 .grid_5 .controls a.prev{right:10px}
.em-area07 .grid_5 .controls a.next{right:-10px}

.block .block-title strong span, .widget-title h3, .widget-title h2, .block_title h3,.em-widget-featured-products-grid .widget-title h3{background-image:none}

/*tab*/
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a{ }
.ui-tabs .ui-tabs-nav li a:hover, .ui-tabs .ui-tabs-nav li.ui-tabs-selected a{ background: #242424; border:1px solid #242424;color:/*BEGIN:negative_color*/#ffffff/*END:negative_color*/;}


/*block-subscribe*/
.block-subscribe{background:#292929; padding:30px 25px 27px!important}
.block-subscribe .input-box{border-color:#333333!important}
.block-subscribe .input-act .actions{}



/*footer*/

.em-area10{border-top-color:#727272;}
/*.em-area10 .grid_6 li a{color:#acc2f1; background:url(../images/instrument_black/btn-icon.png) 0 center no-repeat}*/
.em-area10 .grid_6 li a:hover{background:url(../images/pharmacy_orange/btn-icon.png) 0 center no-repeat;}
/*.em-area11 .icon{float:none;background:url(../images/furniture_blue/icon-share.png) 0 0 no-repeat}
.em-area11 .icon.facebook{background-position:0 0}
.em-area11 .icon.twitter{background-position:-37px 0px}
.em-area11 .icon.vimeo{background-position:-74px 0}
.em-area11 .icon.feed{background-position:-112px 0px}*/
/*
.footer ul li a{background:url(../images/instrument_black/line-footer.png) right center no-repeat}
.em-area11{ border-bottom:1px solid #0c2b6f;}	
.custom-logo.paymentmethods{background:url(../images/instrument_black/icon-payment.png) 0 center no-repeat}*/


/*product label*/
.productlabels_icons{width:65px;position: static; margin:0;}
.productlabels_icons .label {position:absolute}
.productlabels_icons .label.tl {top:0; left:0}
.productlabels_icons .label.tr {top:0; right:0}
.productlabels_icons .label.bl {bottom:0; left:0}
.productlabels_icons .label.br {bottom:0; right:0}
.productlabels_icons .new,.productlabels_icons .sale,.productlabels_icons .hot,.productlabels_icons .bestseller { width:65px; height:65px; background:url(../images/pharmacy_orange/product-label.png) 0 0 no-repeat; padding:0;}
.productlabels_icons .new{background-position: 0 -76px!important}
.productlabels_icons .bestseller{background-position: 0px -152px!important}
.productlabels_icons .hot{background-position:0px 0px!important}

/*slideshow*/






