/*right to left*/
.page{direction:rtl; text-align:right }
/*menu*/
.hnav .menu-item-depth-0{float:right}
.hnav .em-catalog-navigation li:hover > ul,.hnav .em-catalog-navigation li.hover > ul{left:auto; right:100%}
.shopby-title span.option{right:auto; left:10px; font-size:0}
.em_nav a.arrow{right:auto; left:0}
.shopby-title a{padding:11px 10px 8px 20px}
.em_nav .icon-menu > a{padding-right:40px; padding-left:20px;}
.menu-item-parent > a{margin-left:17px; margin-right:0}
.icon-menu.women > a{background:url(../images/icon_menu.png) 96% -622px no-repeat}
.icon-menu.men > a{background:url(../images/icon_menu.png) 96% -537px no-repeat}
.icon-menu.gift > a{background:url(../images/icon_menu.png) 96% -66px no-repeat}
.icon-menu.laptop > a{background:url(../images/icon_menu.png) 96% -456px no-repeat}
.icon-menu.camera > a{background:url(../images/icon_menu.png) 96% -281px no-repeat}
.icon-menu.iphone > a{background:url(../images/icon_menu.png) 96% -361px no-repeat}
.icon-menu.mother > a{background:url(../images/icon_menu.png) 96% -204px no-repeat}
.icon-menu.watch > a{background:url(../images/icon_menu.png) 96% -129px no-repeat}
.icon-menu.cosmetics > a{background:url(../images/icon_menu.png) 96% 5px no-repeat}
.em_nav .vnav > li.menu-item-parent > a.arrow{left:0; right:auto; margin:0}
.em_nav .vnav > li.menu-item-parent > a.arrow span, .em_nav .vnav > li.parent > a.arrow span{background:url(../images/bkg-menu.png) 0 3px no-repeat}
.em_nav .vnav > li.menu-item-parent:hover > a.arrow span, .em_nav .vnav > li.parent:hover > a.arrow span{background:url(../images/bkg-menu-hover.png) 0 3px no-repeat}
.em_nav .em-catalog-navigation li.parent:hover > a.arrow span{background:url(../images/bkg-menu-hover.png) center 5px no-repeat}
.em_nav .em-catalog-navigation li.parent > a.arrow span{background:url(../images/bkg-menu.png) center 5px no-repeat}
.em_nav .hnav > li.menu-item-parent > a.arrow span{background:url(../images/btn-select.png) left center no-repeat}
.em-catalog-navigation li.parent > a{margin-left:31px; margin-right:0}
.em-catalog-navigation li.parent > a.arrow{margin:0}
.em_nav .hnav > li > a.arrow{left:0; right:auto; margin:0}
.em_nav .products-list button.button{float:right; margin-right:0}
.vnav .menu-item-depth-0 > .menu-container,.hnav .menu-item-depth-0 > .menu-container{right:-9999px; left:auto; display:none}
.vnav .menu-item-depth-0:hover  > .menu-container,.hnav .menu-item-depth-0:hover  > .menu-container{display:block}
.em-catalog-navigation li:hover > ul, .em-catalog-navigation li.hover > ul{right:100%; left:auto}
.adapt-0 .hnav .menu-item-depth-0 > .em-catalog-navigation > li > a span, .adapt-0 .em_nav .vnav > li.menu-item-parent:hover > a.arrow span, .adapt-0 .em_nav .vnav > li.menu-item-parent > a.arrow span, .adapt-0 .em_nav .hnav > li.menu-item-parent > a.arrow span{background:url(../images/i_bullet1_rtl.gif) right center no-repeat}
/*header*/
.logo{float:right;}
.header-container .grid_14{float:right;}
.header-container .top-cart span.option-cart{font-size:0;right:auto; left:-1px; border-right:1px solid /*BEGIN:line_color*/#d4d4d4/*END:line_color*/;}
.header-container .top-cart .top-cart-inner a.top-link-cart{padding-right:10px}
.header-container .input-cate{background:url("../images/select-search-rtl.png") no-repeat left 6px transparent}
.header-container .input-cate .catsearch-dropdown ul{left:0; width:203px}
.header-container .input-cate, .header-container .input-search{float:left;}
.header-container .form-search .input-search button.button span{font-size:0}
#cart-sidebar .btn-edit, #cart-sidebar .btn-remove{font-size:0}

/*slider, slideshow*/
.nivo-caption{text-align:right}
.csslider a.next, .csslider a.prev,
.color_variation .btn_color_variation,
.nivo-controlNav a,
.custom-logo.paymentmethods,
.view-mode .grid, .view-mode .list{font-size:0}
.em-area05 .controls .prev{left:30px; right:auto}
.em-area05 .controls .next{left:10px; right:auto;}
.widget span.h3{padding-right:0px; padding-left:36px;}
.em-area07 .widget span.h3{padding-right:0; padding-left:40px;}
.em-area03  .controls .prev{background-position:0px -352px}
.em-area03  .controls .next{background-position:-23px -352px}
.em-area03  .controls .prev{right:10px; left:auto}
.em-area03  .controls .next{left:10px; right:auto}
.em-area07 .grid_9 .controls a.prev{right:auto; left:20px}
.em-area07 .grid_9 .controls a.next{right:auto; left:-5px}
.em-area07 .vertical .controls .prev,
.em-area07 .controls a.prev{right:auto; left:10px}
.em-area07 .vertical .controls .next,
.em-area07 .controls a.next{right:auto; left:-10px}
.em-footerbrand   .flexslider .next{left:-10px; right:auto}
.em-footerbrand   .flexslider .prev{right:-10px; left:auto}
.em-footerbrand  .controls .next{background-position:-32px -442px}
.em-footerbrand   .controls .prev{background-position:-1px -411px}
.more-views .controls a.prev{right: 0px;left: auto;}
.more-views .controls a.next{right: 20px;left: auto;}
.cart .crosssell .controls .next{background-position:-46px 0}
.cart .crosssell .controls .next{left:auto; right:30px}
.cart .crosssell .controls .prev{right:10px; left:auto}
.cart .crosssell .controls .prev{background-position:0px 0}
.controls .next{background-position:-46px 0}
.controls .prev{background-position:0px 0}
.csslider a.prev{right:10px; left:auto}
.csslider a.next{left:10px; right:auto }
.adapt-0 .controls .prev {right:5px;left:auto}
.adapt-0 .controls .next{left:5px; right:auto}




.store-switcher label{float:right; margin-left:5px; margin-right:0}
.no-rating, .ratings{text-align:right;}
.ratings .rating-box{float:right; margin-right:0; margin-left:3px}
.ratings .rating-links .separator,.ratings .rating-links a{float:right;}
.ratings .rating-links .separator{margin:0 5px;}

/*product*/
.products-grid li.item{float:right}
.products-list .price-box{margin-right:0}
.product-view .product-shop{text-align:right; }
.product-view .add-to-cart .qty{float:right;}
.add-to-cart button.button{float:right;}
.product-view .add-to-cart .qty-ctl{float:right; padding-right:5px; padding-left:0}
.product-view .product-img-box .zoom-notice{float:right;}
#prev_next .next_wrap{float:right;margin-left:10px}
.product-view .add-to-cart button.button{clear:right;}
.product-view .add-to-cart .qty-ctl button{font-size:0}
.product-view .product-essential .add-to-links li a{padding-right:0; margin-left:10px}
.product-view .ui-tabs .ui-tabs-nav{text-align:right;}
.product-view .product-tags li{float:right;padding-right:0; padding-left:20px}
.box-tags .form-add label{clear:both;}
.box-tags .form-add .input-box{float:right;}
.box-tags .form-add .input-box input{margin-right:0;margin-left:10px;}

/*block*/
.block-subscribe .input-act .actions{right:auto; left:5px}
.block-subscribe input.input-text{padding:5px 5px 5px 110px}
.actions .button.btn-cart{float:right; margin-left:10px; margin-right:0}
.block-poll input.radio{float:right; margin:1px 0px 0 10px;}
.block-layered-nav #narrow-by-list li a:hover{background:none; padding:0}
.block-layered-nav #narrow-by-list li:hover{background:url(../images/icons.png) right -844px no-repeat; padding-right:20px}
.block-layered-nav #narrow-by-list .tree-filter li:hover{background:none; padding-right:0px}
.block-layered-nav #narrow-by-list .tree-filter li .label:hover{background:url(../images/icons.png) right -844px no-repeat; padding-right:20px}
.block-layered-nav #narrow-by-list .tree-filter li .label{-moz-transition: padding-right 300ms ease;
-webkit-transition: padding-right 300ms ease;
-o-transition: padding-right 300ms ease;
transition: padding-right 300ms ease;}
.block-layered-nav #narrow-by-list li{padding-right:0px;-moz-transition: padding-right 300ms ease;
-webkit-transition: padding-right 300ms ease;
-o-transition: padding-right 300ms ease;
transition: padding-right 300ms ease;}
.block .actions a, .buttons-set p.back-link a{float:right;margin-left:10px; margin-right:0}
.tags-list li{padding-right:0; padding-left:20px}
.mini-products-list .product-details{text-align:right;}

/*footer*/
.em-area10 .grid_6 p.h5, .em-area10 .grid_6 ul.none, .em-area10 .grid_6 p{padding-left:0; padding-right:30px}
.em-area10 .grid_6 li a{background:none}
.em-area11 p.h5{margin-right:0; margin-left:10px}
.qrcode li{width:48px}
.em-area11 .grid_12.omega{text-align:left}
.em-area11 .grid_12.alpha{text-align:right}


/*main*/
.std ul{padding-right:1.5em; padding-left:0}
.f-left, .left{float:right!important}
.f-right, .right{float:left!important}
.error-msg, .note-msg, .notice-msg{background-position:99% 8px; padding:8px 30px 8px 8px}
caption, th, td{text-align:right}
.form-list label{float:right;}
.buttons-set button.button{float:right;margin-left:5px; margin-right:0}
.form-list label.required em{right:auto; left:-8px}
.breadcrumbs ul{float:right;}
.breadcrumbs li{background:url(../images/pager_arrow_left.png) right 2px no-repeat; float:right; padding:0 20px 0 7px; }
.breadcrumbs li:first-child{padding-right:0; padding-left:7px }
.category-products .toolbar .toolbar-title{float:right;}
.pager label, .sort-by label{margin-left:10px; margin-right:0; float:right;}
.category-products .toolbar select{width:100px}
.category-products .toolbar span.current{background-position:8% 10px; padding-right:5px; padding-left:20px}
.product-options .options-list input.radio,
.product-options .options-list input.checkbox{margin:1px 0px 0 15px; float:right;}
.success-msg {
background: url(../images/success-msg.png) right 0 no-repeat;
padding-left: 0px;
padding-right:20px}
.pager .pages li a.previous, .pager .pages li a.next{line-height:13px;}
.pager .pages li{line-height:22px; float:right;}
.pager .pages > strong{line-height:22px; float:right;}
.product-view .product-img-box .product-image-zoom img{position:static}
.add-to-links li{float:right;}
.add-to-links li a{font-size:0}
.grid_19 .grid_14 .grid_9{border-right:1px solid #d4d4d4; border-left:none}



/*shopping cart*/
.cart .totals table td:first-child{padding-right:0; padding-left:5px;}
.cart .cart-collaterals .totals td.a-right{text-align:right!important}
.cart .checkout-types{text-align:right;}
.cart .crosssell li.item{padding-left:0; padding-right:20px;}
.cart .cart-collaterals .crosssell button.button{float:right; margin-left:5px; margin-right:0}
.cart .cart-collaterals .crosssell .add-to-links{float:right;}


/*checkout*/
.v-fix{float:right;}
p.required{text-align:right;}
.form-list .field{float:right;}
p.control input.checkbox, p.control input.radio{float:right; margin-right:0; margin-left:6px;}
#checkout-step-payment .sp-methods dt input.radio{float:right;}
input.radio,input.checkbox{margin-right:0; margin-left:5px;}
.opc-col #checkout-review-table th, .opc-col #checkout-review-table td,
#checkout-review-table tfoot td.last.a-left, #checkout-review-table tfoot td.last.a-right,
.opc-1sc #checkout-review-table tbody tr.last td{text-align:right!important}
.opc-col #opc-review .buttons-set button.button{float:right;}
.sp-methods select.month{margin-right:0; margin-left:20px;}
.opc-col .form-list .v-fix input.input-text{width:90%!important}
.opc-col .form-list li.control input.radio,
.opc-col .form-list li.control input.checkbox{float:right;}
.form-list li.control input.radio, .form-list li.control input.checkbox{margin-right:0; margin-left:6px; float:right;}
#opc-login-popup .form-list input.input-text{text-align:right;}
#opc-login-popup .buttons-set p.required,
#opc-login-popup .buttons-set a{float:right!important; margin-right:0;}
#opc-login-popup .buttons-set button.button{margin-right:0;}
#checkout-step-login .col-2 .buttons-set p.required{float:right;}
#checkout-step-login .col-2 .buttons-set button.button{clear:right; float:right;}
.opc .buttons-set .please-wait{float:right;}
#checkout-step-shipping_method dl dd, #checkout-step-shipping_method dl dt{float:right;}
#checkout-step-shipping_method dl dt{padding-right:0; padding-left:10px;}
.opc .step-title a{float:left}
.opc li .step-title h2{float:right;}
#checkout-review-table th{text-align:right!important}
#checkout-review-table tbody td.a-right{text-align:right!important}
.checkout-onepage-success .page-title{background:none}


/*ajaxcart*/
#containerDiv .ajaxcart #ajax_image{text-align:right}
#containerDiv a#close{display:none}

/*creat account*/
.account-create .buttons-set{width:95.7%}

/*my account*/
.my-account .page-title h2, .box-head h2{float:right;}
.box-head a{float:left; border-right:1px solid #cfcfcf; border-left:none}
.box-title h3,
.box-info .box-content h4{float:right; margin-right:0; margin-left:5px;}
.box-content address, .box-content p{clear:right;}
.ratings strong{float:right;}
.dashboard .box-reviews .number, .dashboard .box-tags .number{float:right;}
.dashboard .box-reviews .details,.dashboard .box-tags .details{margin-left:0; margin-right:20px;}
.box-tags .tags li{float:right; padding-left:0; padding-right:5px;}
.box-tags .tags strong{float:right;}
.block-reorder input.checkbox{float:right; margin:1px 0px 0 7px}
.block-reorder .product-name{margin-left:0; margin-right:20px}
.block-account ul li a, .block-account ul li strong{background:url(../images/icons.png) right -284px no-repeat; padding-right:15px; padding-left:0}
.block-account ul li a:hover, .block-account ul li.current strong{background:url(../images/icons.png) right -335px no-repeat no-repeat}
.my-account .form-list li.control input.radio, .my-account .form-list li.control input.checkbox{float:right;}
.product-review .product-img-box{float:right;}
.review-customer-view .product-review .product-img-box{margin-right:20px; margin-left:0; width:170px}
.review-customer-view .product-review .product-details, .review-product-view .product-review .product-details{margin-left:0; margin-right:160px;}
.product-review .product-details{margin-left:0; margin-right:150px;}
.my-account .tags-list{margin-right:20px; margin-left:0}
.customer-address-index .title-buttons, .my-wishlist .title-buttons{text-align:right}
#wishlist-table .truncated .show .item-options{left:0; right:auto}

/*compare*/
.compare-table td button.button{float:right;}
.compare-table td ul.add-to-links{float:right;}
.fieldset{float:right;}

/*resize*/
.adapt-0 .top-header .header .f-right{float:right!important}
.adapt-0 .top-cart{left:12px; right:auto}
.adapt-0 .hnav .menu-item-depth-0{float:none}
.adapt-0 .menu-item-parent > a, .adapt-0 .em-catalog-navigation li.parent > a{margin-right:0; margin-left:32px;}
.adapt-0 .vnav li.menu-item-parent > a.arrow, .adapt-0 .em_nav .vnav li.parent > a.arrow, .adapt-0 .em_nav .hnav > li.menu-item-parent > a.arrow{right:auto;left:0}
.adapt-0 .footer{text-align:right}
.adapt-0 .em-area11 .grid_12.alpha,
.adapt-0 .em-area11 .grid_12.omega{text-align:right}
.adapt-0 .header-container .grid_14{float:none}

.adapt-0 .sorter .sort-by{float:right;}
.adapt-0 .toolbar .pager .limiter{left:auto; right:0}
.adapt-0 .category-products .toolbar select{margin-left:5px}
.adapt-0 .sorter .view-mode{float:right}
.adapt-0 .top-cart-content{right:auto!important; left:-3px!important}
.adapt-0 .cart .shipping, .adapt-0 .cart .discount{margin-right:0}
.adapt-0 .cart .shipping .buttons-set, .adapt-0 .cart .discount .buttons-set{padding-right:0}
.adapt-0 #my-orders-table{display:block; overflow-x:auto}

.adapt-0 .menu-item-link.mhover > .menu-container, .adapt-0 .em-catalog-navigation li.mhover > ul{right:100%!important; left:auto!important; display:block}
.adapt-0 .menu-item-link > .menu-container, .adapt-0 .em-catalog-navigation li > ul{right:100%!important; left:auto!important; display:none}
.adapt-0 .em-catalog-navigation li.parent > a.arrow{margin:0}


/*Fix for Ipod chieu doc*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) 	
{.adapt-0 .sorter .sort-by{clear:both;}}
.page { overflow:hidden\9;}






